[submodule "lectures"]
	path = lectures
	url = https://github.com/oxford-cs-deepnlp-2017/lectures.git
[submodule "MLAlgorithms"]
	path = MLAlgorithms
	url = https://github.com/rushter/MLAlgorithms.git
[submodule "ipython-notebooks"]
	path = ipython-notebooks
	url = https://github.com/jdwittenauer/ipython-notebooks.git
[submodule "python-machine-learning-book"]
	path = python-machine-learning-book
	url = https://github.com/rasbt/python-machine-learning-book.git
